.container1{
    margin-top: 10%;
    padding-bottom: 10px;
}

.button-outline{
    border: none;
    border-bottom: 2px solid #cecece;
    width: 100%;
    background-color: white;
   
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
}

.button-outline:hover{
  border-bottom-color: #00887d; 
  color: #00887d; 
}


.modal-body img{
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}
.modal-body h4{
    margin-bottom: 10px;
    color: #000000;
    font-size: 17px;
}
.modal-body p{
    color : #000000;
}
.modal-body h1{
    color: #00887d;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.modal-body h5{
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}
.modal-footer .btn{
    background-color: #00887d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}